.main{
	width:90%;
	margin-right: 7%;
	margin-left: 3%;
}
.logodiv{

	margin-left: auto;
	margin-right: auto;
}
.logoimage{
	width:100%;
}
.left{
	width:85%;
	float: left;
}
.right{
	width:10%;
	float: right;
}
.textinput{
	width: 100%
}
.buttoninput{
	width: 55px;
}