.main{
	width:90%;
	margin-right: auto;
	margin-left: auto;
	max-width: 900px;
}
.logodiv{

	margin-left: auto;
	margin-right: auto;
}
.logoimage{
	width:100%;
	max-width: 550px; 
	max-height: 118px;
	margin-left: auto;
	margin-right: auto;
}
.textinput{
	width: 100%;
	float: left;
	height: 2.0em;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.9em;
	outline:none;
	border-color: #ffb400;
	padding:1px 0px 1px 7px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ffb400;
	border-color: #ffb400;
	z-index: 2;
}

.buttoninput {
	position: inherit;
	float: right;
	margin-right: -10px;
	margin-top:-4.9em;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffcd61), color-stop(1, #ffb300) );
	background:-moz-linear-gradient( center top, #ffcd61 5%, #ffb300 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd61', endColorstr='#ffb300');
	background-color:#ffcd61;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family: 'Noto Sans', sans-serif;
	width:10%;
	height:4.9em;
	min-width: 49px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
	min-width: 69px;
	z-index: 67;
}.buttoninput:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb300), color-stop(1, #ffcd61) );
	background:-moz-linear-gradient( center top, #ffb300 5%, #ffcd61 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb300', endColorstr='#ffcd61');
	background-color:#ffb300;
}.buttoninput:active {
	position:relative;
	top:1px;
}
.checkboxencapsulate {
	width: 100%;
	height: 30px;
	margin-bottom: 30px;
}
.checkbox {
	float: left;
	padding:1px 2px 1px 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 0.9em;
	color: #000;
}
.checkbox, #datespan {
	background-color: #befab6;
}
.checkbox, #upc {
	background-color: #D1EEEE;
}
.checkbox, #brco {
	background-color: #EED5D2;
}
.checkbox, #desc {
	background-color: #DDA0DD;
}
.checkbox, #problem {
	background-color: #FEE5AC;
}

#datestring{
	position: inherit;
	margin-top:20px;
	margin-right: 10px;


	z-index: 115;
}
#datepicker {
	position: absolute;
    left: -999em;
}
#unixtimehidden {
	position: absolute;
    left: -999em;
}

.search-results {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.1em;
}
hr{
	width: 100%;
}